<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.github"/>

    <!--配置生产者-->
    <bean class="org.apache.activemq.jms.pool.PooledConnectionFactory" id="connectionFactory">
        <property name="connectionFactory">
            <!--产生connection的ConnectionFactory，由对应的JMS服务厂商提供-->
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://localhost:61616"/>
            </bean>
        </property>
        <property name="maxConnections" value="10"/>
    </bean>

    <!--队列目的地-->
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="activeMQQueue">
        <constructor-arg name="name" value="spring-active-queue"/>
    </bean>

    <!--主题-->
    <bean class="org.apache.activemq.command.ActiveMQTopic" id="activeMQTopic">
        <constructor-arg name="name" value="spring-active-topic"/>
    </bean>

    <!--spring提供的JMS工具类，可以进行消息发送，接受，配置是queue还是topic-->
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="activeMQQueue"/>
        <property name="messageConverter">
            <bean class="org.springframework.jms.support.converter.SimpleMessageConverter"/>
        </property>
    </bean>


    <!--配置监听器-->
    <!--注册了监听器后，只需启动生产者即可自动监听并消费消息-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer" id="listenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="activeMQQueue"/>
        <property name="messageListener" ref="myMessageListener"/>
    </bean>

</beans>